@charset "utf-8";
/* CSS Document */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
*,body{padding:0px;	margin:0px;color: #222;font-family: "微软雅黑";}
@font-face{font-family:electronicFont;src:url(../font/DS-DIGIT.TTF)}
html{font-size: 96px;}
body{
    width: 1920px;
    height: 1080px;
    /*overflow: hidden;*/
    background:#000d4a url(../images/bg.jpg) center top;
    background-size:cover;color:#666;
    font-size: .1rem;}
li{ list-style-type:none;}
table{}
i{ margin:0px; padding:0px; text-indent:0px;}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#399bff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}


.clearfix:after, .clearfix:before {
    display: table;
    content: " "
}
.clearfix:after {
    clear: both
}
.pull_left{float:left;}
.pull_right{float:right;}
.head{
    height: 99px;
    background: url(../images/head_bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    z-index: 100;
}
.head h1{
    color: #fff;
    text-align: center;
    font-size: .4rem;
    line-height: .8rem;
}
.weather{
    position: absolute;
    right: .3rem;
    top:0;
    line-height: .75rem;
}
.weather span{
    color: rgba(255,255,255,.7);
    font-size: .18rem;
    padding-right: .1rem;
}

.mainbox>ul>li{
    float: left;
    width: 30%;
    padding: 0 .1rem;
}
.mainbox>ul>li:nth-child(2){
    width: 40%;
    padding: 0;
}

.boxall{
    height: 313px;
    border: 1px solid rgba(25,186,139,.17);
    padding: 18px .2rem 0 .15rem;
    background: rgba(255,255,255,.04) url(../images/line.png);
    background-size: 100% auto;
    position: relative;
    margin-bottom: 14px;
    z-index: 10;
}
.allnav{
    height: 100%;
}
.boxall::before,
.boxall::after{
    position: absolute;
    width: .1rem;
    height: .1rem;
    content: "";
    top: 0;
    border-top: 2px solid #02a6b5;
}
.boxall::before,
.boxfoot:before{
    border-left: 2px solid #02a6b5;
    left: 0;
}
.boxall::after,
.boxfoot:after{
    border-right:2px solid #02a6b5;
    right: 0;
}
.boxfoot{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.boxfoot:before,
.boxfoot:after{ position:absolute; width: .1rem; height: .1rem;  content: "";border-bottom: 2px solid #02a6b5; bottom: 0;}

.bar{
    background: rgba(101,132,226,.1);
    padding: .15rem;
}
.barbox li,
.barbox2 li{
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 100;;
}
.barbox {
    border: 1px solid rgba(25,186,139,.17);
    position: relative;
}
.barbox li{
    font-size: .7rem;
    color: #ffeb7b;
    padding: .05rem 0;
    font-family:electronicFont; 
    font-weight: bold;
}
.barbox li:first-child:before{ position:absolute; content: ""; height:50%; width: 1px; background: rgba(255,255,255,.2); right: 0; top: 25%;}
.barbox2 li{ font-size: .19rem; color:rgba(255,255,255,.7); padding-top: .1rem;}

.barbox::before,
.barbox::after{ position:absolute; width: .3rem; height: .1rem; content: ""; }
.barbox::before{border-left: 2px solid #02a6b5;left: 0;border-top: 2px solid #02a6b5; }
.barbox::after{border-right: 2px solid #02a6b5; right: 0; bottom: 0;border-bottom: 2px solid #02a6b5; }

.map{
    position: relative;
    height: 7.2rem;
    z-index: 9;
}
.map4{
    width: 200%;
    height: 7rem;
    position: relative;
    left: -50%;
    top: 4%; margin-top: .2rem; z-index: 5;
}
.map1,.map2,.map3{ position:absolute; opacity: .5}
.map1{ width:6.43rem; z-index: 2;top:.45rem; left: .7rem;  animation: myfirst2 15s infinite linear;}
.map2{ width:5.66rem; top:.85rem; left:1.2rem; z-index: 3; opacity: 0.2; animation: myfirst 10s infinite linear;}
.map3{ width:5.18rem; top:1.07rem; left: 1.4rem; z-index: 1;}

@keyframes myfirst2
{
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
@keyframes myfirst
{
    from {transform: rotate(0deg);}
    to {transform: rotate(-359deg);}
}
